In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [2]:
data=pd.read_csv('/content/drive/MyDrive/project_2_1/data/train_data.csv')

In [3]:
data

,user_id,item_id,rating,timestamp,movie_title,release_date,Action,Adventure,Animation,Children,...,Romance,Sci-Fi,Thriller,War,Western,age,gender,occupation,term,target
0,196,242,3,881250949,Kolya,854064000,0,0,0,0,...,0,0,0,0,0,49,0,writer,27186949,0.0
1,196,111,4,881251793,"Truth About Cats & Dogs, The",830476800,0,0,0,0,...,1,0,0,0,0,49,0,writer,50774993,1.0
2,196,382,4,881251843,"Adventures of Priscilla, Queen of the Desert, ...",757382400,0,0,0,0,...,0,0,0,0,0,49,0,writer,123869443,1.0
3,196,202,3,881251728,Groundhog Day,725846400,0,0,0,0,...,1,0,0,0,0,49,0,writer,155405328,0.0
4,196,153,5,881251820,"Fish Called Wanda, A",567993600,0,0,0,0,...,0,0,0,0,0,49,0,writer,313258220,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79988,873,300,4,891392238,Air Force One,852076800,1,0,0,0,...,0,0,1,0,0,48,1,administrator,39315438,1.0
79989,873,313,5,891392177,Titanic,852076800,1,0,0,0,...,1,0,0,0,0,48,1,administrator,39315377,1.0
79990,873,326,4,891392656,G.I. Jane,852076800,1,0,0,0,...,0,0,0,1,0,48,1,administrator,39315856,1.0
79991,873,348,3,891392577,Desperate Measures,886118400,0,0,0,0,...,0,0,1,0,0,48,1,administrator,5274177,0.0
79992,873,358,2,891392698,Spawn,852681600,1,1,0,0,...,0,1,1,0,0,48,1,administrator,38711098,0.0

In [4]:
data.movie_title=data.movie_title.str[:-1]

In [5]:
rating_table=data.pivot_table('rating','movie_title','user_id')

In [6]:
rating_table=rating_table.fillna(0)

In [7]:
rating_table

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
movie_title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1-900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101 Dalmatians,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0
12 Angry Men,5.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
187,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Young Guns,3.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
Young Guns II,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
"Young Poisoner's Handbook, The",0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zeus and Roxanne,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Á köldum klaka (Cold Fever),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
similarity=cosine_similarity(rating_table)

In [9]:
similarity

array([[1.        , 0.        , 0.02743676, ..., 0.0318633 , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.        , 0.09338592,
        0.        ],
       [0.02743676, 0.        , 1.        , ..., 0.01993234, 0.06342433,
        0.        ],
       ...,
       [0.0318633 , 0.        , 0.01993234, ..., 1.        , 0.        ,
        0.19245009],
       [0.        , 0.09338592, 0.06342433, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.19245009, 0.        ,
        1.        ]])

In [10]:
similarity_table=pd.DataFrame(similarity,rating_table.index,rating_table.index)

In [11]:
similarity_table

movie_title,'Til There Was You,1-900,101 Dalmatians,12 Angry Men,187,2 Days in the Valley,"20,000 Leagues Under the Sea",2001: A Space Odyssey,3 Ninjas: High Noon At Mega Mountain,"39 Steps, The",...,Wyatt Earp,Yankee Zulu,Year of the Horse,You So Crazy,Young Frankenstein,Young Guns,Young Guns II,"Young Poisoner's Handbook, The",Zeus and Roxanne,Á köldum klaka (Cold Fever)
movie_title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You,1.000000,0.000000,0.027437,0.108240,0.201886,0.176456,0.000000,0.058394,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.010774,0.067128,0.167732,0.031863,0.000000,0.000000
1-900,0.000000,1.000000,0.000000,0.010104,0.008015,0.005209,0.011382,0.074989,0.000000,0.000000,...,0.007982,0.152499,0.015484,0.000000,0.080633,0.020610,0.027588,0.000000,0.093386,0.000000
101 Dalmatians,0.027437,0.000000,1.000000,0.129626,0.063509,0.093166,0.163629,0.149278,0.000000,0.081948,...,0.070475,0.000000,0.000000,0.034524,0.205009,0.153972,0.054129,0.019932,0.063424,0.000000
12 Angry Men,0.108240,0.010104,0.129626,1.000000,0.035986,0.121467,0.193700,0.342298,0.088345,0.317593,...,0.153755,0.066259,0.017940,0.000000,0.347645,0.229838,0.158491,0.062695,0.049592,0.088345
187,0.201886,0.008015,0.063509,0.035986,1.000000,0.073610,0.052960,0.058820,0.052559,0.032545,...,0.000000,0.000000,0.154760,0.000000,0.037410,0.056826,0.117268,0.025287,0.032186,0.105118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Young Guns,0.067128,0.020610,0.153972,0.229838,0.056826,0.170812,0.271097,0.244058,0.050680,0.112743,...,0.334244,0.135147,0.089194,0.101361,0.310569,1.000000,0.397298,0.043890,0.000000,0.000000
Young Guns II,0.167732,0.027588,0.054129,0.158491,0.117268,0.140072,0.099020,0.095094,0.000000,0.095425,...,0.173600,0.180907,0.000000,0.000000,0.136122,0.397298,1.000000,0.058026,0.000000,0.000000
"Young Poisoner's Handbook, The",0.031863,0.000000,0.019932,0.062695,0.025287,0.133123,0.120301,0.108504,0.048113,0.051309,...,0.075550,0.000000,0.009770,0.000000,0.119369,0.043890,0.058026,1.000000,0.000000,0.192450
Zeus and Roxanne,0.000000,0.093386,0.063424,0.049592,0.032186,0.020918,0.022854,0.034612,0.000000,0.028088,...,0.000000,0.000000,0.062177,0.000000,0.074720,0.000000,0.000000,0.000000,1.000000,0.000000
Á köldum klaka (Cold Fever),0.000000,0.000000,0.000000,0.088345,0.105118,0.102478,0.000000,0.067826,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.192450,0.000000,1.000000

In [30]:
def run(title):
    return similarity_table[title].sort_values(ascending=False)[1:21]

In [31]:
run('English Patient, The')

movie_title
Contact                  0.452857
Full Monty, The          0.440296
Fargo                    0.432002
L.A. Confidential        0.430402
Air Force One            0.408857
Sense and Sensibility    0.405457
Dead Man Walking         0.399956
Titanic                  0.398453
Star Wars                0.391961
Godfather, The           0.381106
Leaving Las Vegas        0.373683
Liar Liar                0.362596
Evita                    0.355364
Ulee's Gold              0.353448
Big Night                0.352483
Scream                   0.350495
Chasing Amy              0.349640
Schindler's List         0.349325
Emma                     0.349010
Secrets & Lies           0.348698
Name: English Patient, The, dtype: float64

In [14]:
test=pd.read_csv('/content/drive/MyDrive/project_2_1/data/test_data.csv')
test.movie_title=test.movie_title.str[:-1]

In [16]:
test

,user_id,item_id,rating,timestamp,movie_title,release_date,Action,Adventure,Animation,Children,...,Romance,Sci-Fi,Thriller,War,Western,age,gender,occupation,term,target
0,196,286,5,881250949,"English Patient, The",848016000,0,0,0,0,...,1,0,0,1,0,49,0,writer,33234949,1.0
1,196,257,2,881251577,Men in Black,860371200,1,1,0,0,...,0,1,0,0,0,49,0,writer,20880377,0.0
2,196,269,3,881250949,"Full Monty, The",852076800,0,0,0,0,...,0,0,0,0,0,49,0,writer,29174149,0.0
3,196,762,3,881251955,Beautiful Girls,841622400,0,0,0,0,...,0,0,0,0,0,49,0,writer,39629555,0.0
4,196,25,4,881251955,"Birdcage, The",839030400,0,0,0,0,...,0,0,0,0,0,49,0,writer,42221555,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19992,598,751,3,886710494,Tomorrow Never Dies,852076800,1,0,0,0,...,1,0,1,0,0,40,1,marketing,34633694,0.0
19993,873,879,2,891392577,"Peacemaker, The",852076800,1,0,0,0,...,0,0,1,1,0,48,1,administrator,39315777,0.0
19994,873,289,2,891392577,Evita,851472000,0,0,0,0,...,0,0,0,0,0,48,1,administrator,39920577,0.0
19995,873,342,4,891392698,"Man Who Knew Too Little, The",852076800,0,0,0,0,...,0,0,0,0,0,48,1,administrator,39315898,1.0
19996,873,875,1,891392577,She's So Lovely,872208000,0,0,0,0,...,1,0,0,0,0,48,1,administrator,19184577,0.0

In [34]:
def test_score():
    precision_list=[]
    recall_list=[]
    for i in test['user_id'].unique():
      test_title=list(test[(test.rating>3)&(test.user_id==i)].movie_title)
      try:
        if len(test_title)>1:
          recommended_list=list(run(test_title[0]).index)
          count=0
          for value in test_title[1:]:
            if value in recommended_list:
              count+=1
          precision=count/len(recommended_list)
          recall=count/(len(test_title)-1)
          precision_list.append(precision)
          recall_list.append(recall)

      except:
        pass

    return f'precision: {np.mean(precision_list)}, recall: {np.mean(recall_list)}'

In [35]:
test_score()

'precision: 0.05848952590959206, recall: 0.1534256449684805'