In [44]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/train_data.csv')
df.movie_title = df.movie_title.str[:-1]

In [2]:
df

,user_id,item_id,rating,timestamp,movie_title,release_date,Action,Adventure,Animation,Children,...,Romance,Sci-Fi,Thriller,War,Western,age,gender,occupation,term,target
0,196,242,3,881250949,Kolya,854064000,0,0,0,0,...,0,0,0,0,0,49,0,writer,27186949,0.0
1,196,111,4,881251793,"Truth About Cats & Dogs, The",830476800,0,0,0,0,...,1,0,0,0,0,49,0,writer,50774993,1.0
2,196,382,4,881251843,"Adventures of Priscilla, Queen of the Desert, The",757382400,0,0,0,0,...,0,0,0,0,0,49,0,writer,123869443,1.0
3,196,202,3,881251728,Groundhog Day,725846400,0,0,0,0,...,1,0,0,0,0,49,0,writer,155405328,0.0
4,196,153,5,881251820,"Fish Called Wanda, A",567993600,0,0,0,0,...,0,0,0,0,0,49,0,writer,313258220,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79988,873,300,4,891392238,Air Force One,852076800,1,0,0,0,...,0,0,1,0,0,48,1,administrator,39315438,1.0
79989,873,313,5,891392177,Titanic,852076800,1,0,0,0,...,1,0,0,0,0,48,1,administrator,39315377,1.0
79990,873,326,4,891392656,G.I. Jane,852076800,1,0,0,0,...,0,0,0,1,0,48,1,administrator,39315856,1.0
79991,873,348,3,891392577,Desperate Measures,886118400,0,0,0,0,...,0,0,1,0,0,48,1,administrator,5274177,0.0
79992,873,358,2,891392698,Spawn,852681600,1,1,0,0,...,0,1,1,0,0,48,1,administrator,38711098,0.0

In [3]:
df_pre = df.iloc[:,2:-4]
df_pre = df_pre.drop(['timestamp', 'release_date'], axis=1)
df_pre

,rating,movie_title,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,age
0,3,Kolya,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,49
1,4,"Truth About Cats & Dogs, The",0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,49
2,4,"Adventures of Priscilla, Queen of the Desert, The",0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,49
3,3,Groundhog Day,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,49
4,5,"Fish Called Wanda, A",0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79988,4,Air Force One,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,48
79989,5,Titanic,1,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,48
79990,4,G.I. Jane,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,48
79991,3,Desperate Measures,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,1,0,0,48
79992,2,Spawn,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,48

In [4]:
counting = df_pre.groupby('movie_title')['movie_title'].count()
counting

movie_title
'Til There Was You                  9
1-900                               5
101 Dalmatians                     87
12 Angry Men                      104
187                                33
                                 ...
Young Guns                         81
Young Guns II                      34
Young Poisoner's Handbook, The     33
Zeus and Roxanne                    5
Á köldum klaka (Cold Fever)         1
Name: movie_title, Length: 1639, dtype: int64

In [5]:
ratings = df_pre.groupby('movie_title')['rating'].mean()
ratings

movie_title
'Til There Was You                2.333333
1-900                             2.600000
101 Dalmatians                    2.908046
12 Angry Men                      4.384615
187                               3.090909
                                    ...
Young Guns                        3.160494
Young Guns II                     2.676471
Young Poisoner's Handbook, The    3.393939
Zeus and Roxanne                  2.000000
Á köldum klaka (Cold Fever)       3.000000
Name: rating, Length: 1639, dtype: float64

In [6]:
df_movie = df_pre.iloc[:, 1:]
df_movie = df_movie.groupby('movie_title').mean().astype('int')
df_movie['rating'] = ratings
df_movie['count'] = counting
df_movie

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,age,rating,count
movie_title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,24,2.333333,9
1-900,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,31,2.600000,5
101 Dalmatians,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,32,2.908046,87
12 Angry Men,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,34,4.384615,104
187,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,28,3.090909,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Young Guns,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,28,3.160494,81
Young Guns II,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,24,2.676471,34
"Young Poisoner's Handbook, The",0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,33,3.393939,33
Zeus and Roxanne,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,40,2.000000,5
Á köldum klaka (Cold Fever),0,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,50,3.000000,1

In [7]:
# 리뷰가 50개 이상인 영화만 (상위 64%)
m = df_movie['count'].quantile(0.64)
m

42.0

In [8]:
df_movie_50 = df_movie.loc[df_movie['count'] >= m]
df_movie_50

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,age,rating,count
movie_title,,,,,,,,,,,,,,,,,,,,,
101 Dalmatians,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,32,2.908046,87
12 Angry Men,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,34,4.384615,104
2 Days in the Valley,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,32,3.301370,73
"20,000 Leagues Under the Sea",0,1,0,1,0,0,0,0,1,0,...,0,0,0,1,0,0,0,36,3.473684,57
2001: A Space Odyssey,0,0,0,0,0,0,0,1,0,0,...,0,1,0,1,1,0,0,34,3.952153,209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Wizard of Oz, The",0,1,0,1,0,0,0,1,0,0,...,1,0,0,0,0,0,0,33,4.074257,202
Wolf,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,28,2.680000,50
"Wrong Trousers, The",0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,31,4.483871,93
Young Frankenstein,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,35,3.906667,150
Young Guns,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,28,3.160494,81

In [9]:
# 전체영화평균평점
a = df_movie_50['rating'].mean()
a

3.5198893006874097

In [10]:
def weight_rating(x, m=m, a=a):
    v = x['count']
    R = x['rating']
    return (v / (v+m) * R) + (m / (m+v) * a)

In [11]:
df_movie_50['score'] = df_movie_50.apply(weight_rating, axis=1)
df_movie_50

C:\Users\pc\AppData\Local\Temp\ipykernel_1368\3326286664.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movie_50['score'] = df_movie_50.apply(weight_rating, axis=1)

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,...,Mystery,Romance,Sci-Fi,Thriller,War,Western,age,rating,count,score
movie_title,,,,,,,,,,,,,,,,,,,,,
101 Dalmatians,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,32,2.908046,87,3.107251
12 Angry Men,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,34,4.384615,104,4.135859
2 Days in the Valley,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,32,3.301370,73,3.381177
"20,000 Leagues Under the Sea",0,1,0,1,0,0,0,0,1,0,...,0,0,1,0,0,0,36,3.473684,57,3.493286
2001: A Space Odyssey,0,0,0,0,0,0,0,1,0,0,...,1,0,1,1,0,0,34,3.952153,209,3.879822
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Wizard of Oz, The",0,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,33,4.074257,202,3.978833
Wolf,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,28,2.680000,50,3.063428
"Wrong Trousers, The",0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,31,4.483871,93,4.183966
Young Frankenstein,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,35,3.906667,150,3.822059
Young Guns,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,28,3.160494,81,3.283214

In [12]:
df_genre = df_movie_50.iloc[:, :-3]
df_genre

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,age
movie_title,,,,,,,,,,,,,,,,,,,
101 Dalmatians,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,32
12 Angry Men,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,34
2 Days in the Valley,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,32
"20,000 Leagues Under the Sea",0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,36
2001: A Space Odyssey,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,1,0,0,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Wizard of Oz, The",0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,33
Wolf,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,28
"Wrong Trousers, The",0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,31
Young Frankenstein,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,35
Young Guns,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,28

In [13]:
from sklearn.metrics.pairwise import cosine_similarity

cb_c_sim = cosine_similarity(df_genre, df_genre)
cb_c_sim = pd.DataFrame(cb_c_sim, df_genre.index, df_genre.index)
cb_c_sim

movie_title,101 Dalmatians,12 Angry Men,2 Days in the Valley,"20,000 Leagues Under the Sea",2001: A Space Odyssey,"39 Steps, The",Absolute Power,"Abyss, The",Ace Ventura: Pet Detective,Addams Family Values,...,William Shakespeare's Romeo and Juliet,Willy Wonka and the Chocolate Factory,Wings of Desire,"Wings of the Dove, The",Winnie the Pooh and the Blustery Day,"Wizard of Oz, The",Wolf,"Wrong Trousers, The",Young Frankenstein,Young Guns
movie_title,,,,,,,,,,,,,,,,,,,,,
101 Dalmatians,1.000000,0.998593,0.998537,0.998353,0.997301,0.998713,0.998109,0.996658,0.999507,0.999503,...,0.997657,0.999480,0.998695,0.998090,0.998993,0.998139,0.997753,0.998993,0.999102,0.998232
12 Angry Men,0.998593,1.000000,0.999080,0.998029,0.998706,0.999256,0.998651,0.997199,0.998974,0.998931,...,0.999287,0.998011,0.999185,0.999366,0.998529,0.998626,0.999344,0.998529,0.998753,0.997661
2 Days in the Valley,0.998537,0.999080,1.000000,0.997973,0.997787,0.999200,0.998596,0.997144,0.998918,0.998875,...,0.998144,0.997956,0.998290,0.998576,0.998474,0.997681,0.998240,0.998474,0.998697,0.997605
"20,000 Leagues Under the Sea",0.998353,0.998029,0.997973,1.000000,0.997552,0.998148,0.997545,0.998003,0.997867,0.997824,...,0.997094,0.998692,0.997240,0.997526,0.998317,0.998310,0.997189,0.997423,0.997646,0.996555
2001: A Space Odyssey,0.997301,0.998706,0.997787,0.997552,1.000000,0.998696,0.999137,0.997929,0.997681,0.997638,...,0.997994,0.996720,0.997892,0.998806,0.997237,0.997334,0.998051,0.997237,0.997460,0.996370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Wizard of Oz, The",0.998139,0.998626,0.997681,0.998310,0.997334,0.997857,0.997253,0.996844,0.997576,0.997533,...,0.997921,0.998563,0.997812,0.997990,0.998106,1.000000,0.997977,0.997131,0.997355,0.996264
Wolf,0.997753,0.999344,0.998240,0.997189,0.998051,0.998415,0.997811,0.996360,0.998134,0.998091,...,0.998679,0.997172,0.998524,0.998683,0.997689,0.997977,1.000000,0.997689,0.998931,0.996822
"Wrong Trousers, The",0.998993,0.998529,0.998474,0.997423,0.997237,0.998649,0.998045,0.996594,0.999478,0.999475,...,0.997594,0.998443,0.998660,0.998026,0.998962,0.997131,0.997689,1.000000,0.999067,0.998204
Young Frankenstein,0.999102,0.998753,0.998697,0.997646,0.997460,0.998873,0.998268,0.996817,0.999575,0.999567,...,0.997817,0.998548,0.998778,0.998249,0.998147,0.997355,0.998931,0.999067,1.000000,0.998296
Young Guns,0.998232,0.997661,0.997605,0.996555,0.996370,0.997780,0.997177,0.996953,0.998728,0.998729,...,0.996726,0.997686,0.997890,0.997158,0.997055,0.996264,0.996822,0.998204,0.998296,1.000000

In [31]:
cb_c_sim['12 Angry Men'].sort_values(ascending=False)[:20].drop('12 Angry Men')

movie_title
Good Will Hunting                           1.0
Nixon                                       1.0
Cook the Thief His Wife & Her Lover, The    1.0
Mr. Holland's Opus                          1.0
Three Colors: Red                           1.0
Raging Bull                                 1.0
Fried Green Tomatoes                        1.0
Little Women                                1.0
Smoke                                       1.0
It's a Wonderful Life                       1.0
Stealing Beauty                             1.0
Boogie Nights                               1.0
Christmas Carol, A                          1.0
Sex, Lies, and Videotape                    1.0
Gandhi                                      1.0
Marvin's Room                               1.0
Rainmaker, The                              1.0
Citizen Kane                                1.0
Dead Man Walking                            1.0
Name: 12 Angry Men, dtype: float64

In [40]:
def get_recommand_movies(movie_title, cos_x=cb_c_sim, top=20):
    # 입력 영화 삭제
    sim_df = cos_x[movie_title].sort_values(ascending=False).drop(movie_title)
    # top순위만큼 추천
    sim_df = sim_df[:top]
    
    return sim_df.index

In [41]:
get_recommand_movies('12 Angry Men')

Index(['Good Will Hunting', 'Nixon',
       'Cook the Thief His Wife & Her Lover, The', 'Mr. Holland's Opus',
       'Three Colors: Red', 'Raging Bull', 'Fried Green Tomatoes',
       'Little Women', 'Smoke', 'It's a Wonderful Life', 'Stealing Beauty',
       'Boogie Nights', 'Christmas Carol, A', 'Sex, Lies, and Videotape',
       'Gandhi', 'Marvin's Room', 'Rainmaker, The', 'Citizen Kane',
       'Dead Man Walking', 'My Left Foot'],
      dtype='object', name='movie_title')

In [34]:
test=pd.read_csv('data/test_data.csv')
test.movie_title=test.movie_title.str[:-1]

In [35]:
test

,user_id,item_id,rating,timestamp,movie_title,release_date,Action,Adventure,Animation,Children,...,Romance,Sci-Fi,Thriller,War,Western,age,gender,occupation,term,target
0,196,286,5,881250949,"English Patient, The",848016000,0,0,0,0,...,1,0,0,1,0,49,0,writer,33234949,1.0
1,196,257,2,881251577,Men in Black,860371200,1,1,0,0,...,0,1,0,0,0,49,0,writer,20880377,0.0
2,196,269,3,881250949,"Full Monty, The",852076800,0,0,0,0,...,0,0,0,0,0,49,0,writer,29174149,0.0
3,196,762,3,881251955,Beautiful Girls,841622400,0,0,0,0,...,0,0,0,0,0,49,0,writer,39629555,0.0
4,196,25,4,881251955,"Birdcage, The",839030400,0,0,0,0,...,0,0,0,0,0,49,0,writer,42221555,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19992,598,751,3,886710494,Tomorrow Never Dies,852076800,1,0,0,0,...,1,0,1,0,0,40,1,marketing,34633694,0.0
19993,873,879,2,891392577,"Peacemaker, The",852076800,1,0,0,0,...,0,0,1,1,0,48,1,administrator,39315777,0.0
19994,873,289,2,891392577,Evita,851472000,0,0,0,0,...,0,0,0,0,0,48,1,administrator,39920577,0.0
19995,873,342,4,891392698,"Man Who Knew Too Little, The",852076800,0,0,0,0,...,0,0,0,0,0,48,1,administrator,39315898,1.0
19996,873,875,1,891392577,She's So Lovely,872208000,0,0,0,0,...,1,0,0,0,0,48,1,administrator,19184577,0.0

In [39]:
list(test[(test.rating>3)&(test.user_id==196)].movie_title)

['English Patient, The',
 'Birdcage, The',
 'Waiting for Guffman',
 'Stand by Me',
 'Raising Arizona']

In [51]:
def test_score():
    precision_list=[]
    recall_list=[]
    for i in test['user_id'].unique():
      test_title=list(test[(test.rating>3)&(test.user_id==i)].movie_title)
      # 무작위로 행 순서 바꾸기
      # test_title = np.random.shuffle(test_title)
      try:
        if len(test_title)>1:
          recommended_list=list(get_recommand_movies(test_title[0]))
          count=0
          for value in test_title[1:]:
            if value in recommended_list:
              count+=1
          # 추천목록에 입력영화가 있는 경우 개수 1 삭제
          if test_title[0] in recommended_list:
            r = len(recommended_list) - 1
          else:
            r = len(recommended_list)
            
          precision=count/r
          recall=count/len(test_title)
          precision_list.append(precision)
          recall_list.append(recall)

      except:
        pass

    return f'precision: {np.mean(precision_list)}, recall: {np.mean(recall_list)}'

In [52]:
test_score()

'precision: 0.02410071942446043, recall: 0.03902018467741142'