In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [8]:
data=pd.read_csv('/content/drive/MyDrive/project_2_1/data/train_data_by_time.csv')

In [9]:
data

,user_id,item_id,rating,timestamp,movie_title,release_date,Action,Adventure,Animation,Children,...,Mystery,Romance,Sci-Fi,Thriller,War,Western,age,gender,occupation,term
0,259,255,4,874724710,My Best Friend's Wedding,866764800,0,0,0,0,...,0,1,0,0,0,0,21,0,student,7959910
1,259,286,4,874724727,"English Patient, The",848016000,0,0,0,0,...,0,1,0,0,1,0,21,0,student,26708727
2,259,298,4,874724754,Face/Off,867369600,1,0,0,0,...,0,0,1,1,0,0,21,0,student,7355154
3,259,185,4,874724781,Psycho,-315619200,0,0,0,0,...,0,1,0,1,0,0,21,0,student,1190343981
4,259,173,4,874724843,"Princess Bride, The",536457600,1,1,0,0,...,0,1,0,0,0,0,21,0,student,338267243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79988,3,245,1,889237247,"Devil's Own, The",859334400,1,0,0,0,...,0,0,0,1,1,0,23,0,writer,29902847
79989,3,335,1,889237269,How to Be a Player,852076800,0,0,0,0,...,0,0,0,0,0,0,23,0,writer,37160469
79990,3,322,3,889237269,Murder at 1600,861321600,0,0,0,0,...,1,0,0,1,0,0,23,0,writer,27915669
79991,3,349,3,889237269,Hard Rain,884908800,1,0,0,0,...,0,0,0,1,0,0,23,0,writer,4328469
79992,3,323,2,889237269,Dante's Peak,867801600,1,0,0,0,...,0,0,0,1,0,0,23,0,writer,21435669

In [10]:
data.movie_title=data.movie_title.str[:-1]

In [11]:
#유저와 영화에 대한 평점 행렬 생성

In [12]:
rating_table=data.pivot_table('rating','movie_title','user_id')

In [13]:
rating_table=rating_table.fillna(0)

In [14]:
rating_table

user_id,1,2,3,5,6,8,9,10,12,13,...,929,930,933,935,936,937,939,940,941,943
movie_title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1-900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101 Dalmatians,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
12 Angry Men,5.0,0.0,0.0,0.0,4.0,0.0,0.0,5.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
187,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Young Frankenstein,5.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Young Guns,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
Young Guns II,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
"Young Poisoner's Handbook, The",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0
Zeus and Roxanne,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# 코사인 유사도 계산

In [16]:
similarity=cosine_similarity(rating_table)

In [17]:
similarity

array([[1.        , 0.        , 0.01518642, ..., 0.15715464, 0.03290613,
        0.        ],
       [0.        , 1.        , 0.01604508, ..., 0.02372005, 0.00695334,
        0.07963978],
       [0.01518642, 0.01604508, 1.        , ..., 0.10001058, 0.06716322,
        0.19536544],
       ...,
       [0.15715464, 0.02372005, 0.10001058, ..., 1.        , 0.05437307,
        0.        ],
       [0.03290613, 0.00695334, 0.06716322, ..., 0.05437307, 1.        ,
        0.02381177],
       [0.        , 0.07963978, 0.19536544, ..., 0.        , 0.02381177,
        1.        ]])

In [18]:
#코사인 유사도 데이터 활용하여 영화간 유사성 추출

In [19]:
similarity_table=pd.DataFrame(similarity,rating_table.index,rating_table.index)

In [20]:
similarity_table

movie_title,'Til There Was You,1-900,101 Dalmatians,12 Angry Men,187,2 Days in the Valley,"20,000 Leagues Under the Sea",2001: A Space Odyssey,3 Ninjas: High Noon At Mega Mountain,"39 Steps, The",...,"Wrong Trousers, The",Wyatt Earp,Yankee Zulu,Year of the Horse,You So Crazy,Young Frankenstein,Young Guns,Young Guns II,"Young Poisoner's Handbook, The",Zeus and Roxanne
movie_title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You,1.000000,0.000000,0.015186,0.038886,0.174420,0.117242,0.000000,0.063145,0.000000,0.042448,...,0.041172,0.083141,0.000000,0.000000,0.000000,0.033482,0.070504,0.157155,0.032906,0.000000
1-900,0.000000,1.000000,0.016045,0.010271,0.008775,0.005161,0.011343,0.074414,0.000000,0.000000,...,0.070269,0.007320,0.152499,0.020378,0.000000,0.076647,0.019864,0.023720,0.006953,0.079640
101 Dalmatians,0.015186,0.016045,1.000000,0.137004,0.050453,0.147187,0.224344,0.200053,0.031369,0.069620,...,0.180844,0.166665,0.000000,0.032806,0.035072,0.292884,0.189586,0.100011,0.067163,0.195365
12 Angry Men,0.038886,0.010271,0.137004,1.000000,0.040049,0.176283,0.288892,0.407983,0.080322,0.371386,...,0.283256,0.211223,0.067352,0.024001,0.000000,0.403617,0.252959,0.145502,0.093153,0.042990
187,0.174420,0.008775,0.050453,0.040049,1.000000,0.089587,0.057782,0.086174,0.051469,0.038076,...,0.037879,0.055244,0.000000,0.222998,0.000000,0.072305,0.059964,0.110389,0.123317,0.030051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Young Frankenstein,0.033482,0.076647,0.292884,0.403617,0.072305,0.189735,0.393256,0.536373,0.077806,0.283540,...,0.411020,0.319206,0.096656,0.077497,0.000000,1.000000,0.419882,0.270613,0.132213,0.060572
Young Guns,0.070504,0.019864,0.189586,0.252959,0.059964,0.260105,0.313671,0.295340,0.000000,0.101753,...,0.205073,0.353271,0.130258,0.087032,0.097693,0.419882,1.000000,0.643276,0.092058,0.000000
Young Guns II,0.157155,0.023720,0.100011,0.145502,0.110389,0.187761,0.125335,0.170119,0.000000,0.087674,...,0.111490,0.266298,0.155543,0.000000,0.000000,0.270613,0.643276,1.000000,0.054373,0.000000
"Young Poisoner's Handbook, The",0.032906,0.006953,0.067163,0.093153,0.123317,0.214504,0.086483,0.155745,0.040782,0.056989,...,0.162078,0.050340,0.000000,0.018279,0.000000,0.132213,0.092058,0.054373,1.000000,0.023812
Zeus and Roxanne,0.000000,0.079640,0.195365,0.042990,0.030051,0.070700,0.019422,0.029291,0.000000,0.025597,...,0.030557,0.000000,0.000000,0.069786,0.000000,0.060572,0.000000,0.000000,0.023812,1.000000

In [21]:
def run(title):
    return similarity_table[title].sort_values(ascending=False)[1:21]

In [22]:
run('English Patient, The')

movie_title
Contact                     0.532385
Fargo                       0.524466
Full Monty, The             0.515583
L.A. Confidential           0.511172
Evita                       0.488236
Air Force One               0.481728
Star Wars                   0.477403
Liar Liar                   0.474844
Godfather, The              0.462900
Secrets & Lies              0.459060
Sense and Sensibility       0.456166
Dead Man Walking            0.453950
Leaving Las Vegas           0.448266
Postino, Il                 0.448040
Titanic                     0.439851
Scream                      0.430493
In & Out                    0.430460
Seven Years in Tibet        0.423830
Everyone Says I Love You    0.419686
Ulee's Gold                 0.419466
Name: English Patient, The, dtype: float64

In [23]:
#평가 진행

In [24]:
test=pd.read_csv('/content/drive/MyDrive/project_2_1/data/test_data_by_time.csv')
test.movie_title=test.movie_title.str[:-1]

In [25]:
test

,user_id,item_id,rating,timestamp,movie_title,release_date,Action,Adventure,Animation,Children,...,Mystery,Romance,Sci-Fi,Thriller,War,Western,age,gender,occupation,term
0,3,338,2,889237297,Bean,852076800,0,0,0,0,...,0,0,0,0,0,0,23,0,writer,37160497
1,3,264,2,889237297,Mimic,872208000,0,0,0,0,...,0,0,1,1,0,0,23,0,writer,17029297
2,3,330,2,889237297,187,852076800,0,0,0,0,...,0,0,0,0,0,0,23,0,writer,37160497
3,3,325,1,889237297,Crash,858902400,0,0,0,0,...,0,0,0,1,0,0,23,0,writer,30334897
4,3,351,3,889237315,"Prophecy II, The",884908800,0,0,0,0,...,0,0,0,0,0,0,23,0,writer,4328515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19992,729,272,4,893286638,Good Will Hunting,852076800,0,0,0,0,...,0,0,0,0,0,0,19,0,student,41209838
19993,729,328,3,893286638,Conspiracy Theory,870998400,1,0,0,0,...,1,1,0,1,0,0,19,0,student,22288238
19994,729,300,4,893286638,Air Force One,852076800,1,0,0,0,...,0,0,0,1,0,0,19,0,student,41209838
19995,729,333,4,893286638,"Game, The",852076800,0,0,0,0,...,1,0,0,1,0,0,19,0,student,41209838
19996,729,689,4,893286638,"Jackal, The",852076800,1,0,0,0,...,0,0,0,1,0,0,19,0,student,41209838

In [ ]:
#학습되지 않은 데이터에 대하여 예측된 다른 영화를 실제로 선호하는지 측정

In [26]:
def test_score():
    precision_list=[]
    recall_list=[]
    for i in test['user_id'].unique():
      test_title=list(test[(test.rating>3)&(test.user_id==i)].sort_values('timestamp').movie_title)
      try:
        if len(test_title)>1:
          recommended_list=list(run(test_title[0]).index)
          count=0
          for value in test_title[1:]:
            if value in recommended_list:
              count+=1
          precision=count/len(recommended_list)
          recall=count/(len(test_title)-1)
          precision_list.append(precision)
          recall_list.append(recall)

      except:
        pass

    return f'precision: {np.mean(precision_list)}, recall: {np.mean(recall_list)}'

In [29]:
test_score()

'precision: 0.18197026022304832, recall: 0.17914239615425787'